<main class="mainHome">
  {{> user}}
  <h2>Productos</h2>
  
  <div class="containerCards">
    {{#each products}}
      <div class="cardContainer">
        <img
          class="imgCard"
          src={{this.thumbnail}}
          alt={{this.title}}
        />
        <div class="priceCard">
          <p>$</p>
          <p class="price">{{this.price}}</p>
        </div>
        <div class="btnContainer">
        <div class="btnCard">
        </div>
        <div class="btnCard">
        </div>
        <div class="btnCard">
        </div>
        <div class="btnCard addToCart" data-id={{this._id}}>
          <ion-icon class="icon" name="cart-outline"></ion-icon>
          <span class="iconTooltip">Agregar al carrito</span>
        </div>
        </div>
        <div class="descriptionCard">
          <h2 class="titleCard">{{this.title}}</h2>
          <div class="authorStock">
            <span>{{this.author}}</span>
            <div class="stockCard">
              <span>Stock:</span>
              <span>{{this.stock}}</span>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  {{> pagination}}
</main>
<script type="module" src="js/home.js"></script>