<header>
  <nav class="nav">
    <div class="navContainer">
      <div class="menu">
        <a href="#" id="carrito"
          ><ion-icon class="shop-nav" name="cart-outline"></ion-icon>
          <div 
            id="popupCart" 
            class="cant-carrito-total" 
            {{#if emptyCart}} {{else}} style="opacity: 1" {{/if}}>
            <p>{{countCart}}</p>
          </div
        ></a>
      </div>
      <div class="burger">
        <a href="#" id="carrito_xs"
          ><ion-icon name="cart-outline"></ion-icon>
          <div
            id="popupCartXs"
            class="cant-carrito-total-xs" 
            {{#if emptyCart}} {{else}} style="opacity: 1" {{/if}}>
            <p>{{countCart}}</p>
          </div>
        </a>
        <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </nav>

  <div class="modal-carrito" id="modal-carrito">
    <div class="modal-container">
      <h5 class="modal-title">Carrito</h5>
      <ion-icon
        class="close-carrito"
        id="close-carrito"
        name="close-outline"
      ></ion-icon>


      
      <div class="conten-carrito">
        <ul class="cardPrevius" id="cardPrevius">
          {{#if emptyCart}}
            <h5>No hay items en el carrito</h5>
            </div>
          {{else}}
            {{#each cartsProducts}}
              <li class="cardPreviusItems">
                 <div class="img-info">
                  <img
                    alt={{this.title}}
                    class="imgCartPrevius"
                    src={{this.thumbnail}}
                  ></img>
                  <div class="infoPrevius">
                    <p class="infoTitle">{{this.title}}</p>
                    <p class="infoCant">
                      <strong>{{this.quantity}} </strong>x<strong> {{this.price}}</strong>
                    </p>

                  </div>
                </div>
                <div class="delete-price">
                  <div class="cartDelete" id="cartDelete" data-id={{this.id}}>
                    <ion-icon name="trash-outline"></ion-icon>
                  </div>
                  <div class="price-conten">
                    <p>$</p>
                    <p class="price">{{this.totalPrice}}</p>
                  </div>
                </div>
              </li>
            {{/each}}
          {{/if}}
        </ul>
      </div>
      <div class="total-carrito" id="sectionTotal" {{#if emptyCart}} style="display:none" {{else}} {{/if}}>
        <p class="total-text">Total Carrito:</p>
          <div class="price-conten">
            <p>$</p>
            <p class="price" id="totalCart">{{totalCart}}</p>
          </div>
      </div>
      <div class="buttons-carrito" id="sectionButtons" {{#if emptyCart}} style="display:none" {{else}} {{/if}}>
        <button class="vaciar" id="vaciar-carrito">
          <ion-icon
            class="button-icon"
            name="close-circle-outline"
          ></ion-icon>
          <p class="button-text">Vaciar</p>
        </button>
        <button class="comprar" id="comprar">
          <ion-icon class="button-icon" name="card-outline"></ion-icon>
          <p class="button-text">Comprar</p>
        </button>
      </div>
    </div>
  </div>
</header>